name: Build master

on:
  push:
    branches:
      - 'master'
  schedule:
    - cron: '0 0 * * 1' # Runs every Monday at midnight UTC


jobs:
  build:
    env:
      OPAMROOT: /home/user/.opam
      OPAMCONFIRMLEVEL: unsafe-yes

    runs-on: ubuntu-latest
    container:
      image: kakadu18/ocaml:pltools
      options: --user user
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - run: opam --version
      - run: opam exec -- ocamlopt --version
      - run: opam update
      - run: sudo apt-get install nodejs -y

      - name: Checkout code
        uses: actions/checkout@v3

      - run: opam pin add https://github.com/PLTools/OCanren.git --yes --no-action
      - run: opam pin add https://github.com/PLTools/noCanren.git --yes --no-action
      - run: opam pin . --no-action

      - run: opam install OCanren-base-example --yes --deps-only --with-test
      - run: opam exec -- dune build
      - run: opam exec -- dune runtest
      - run: |
          opam exec -- dune b demo1ppx/appendo.bc.js
          node _build/default/demo1ppx/appendo.bc.js

      - run: opam exec -- make -C demo3make

      - run: |
          opam exec -- make -C demo5
          demo5/demo5.exe
